{{ define "section_content" }}
<div class="container">
    <div class="section">
        {{ .Content }}
        <div>
            {{ range .Pages }}
            <div id='container' class='card-h'>
                
                <figure>
                    {{ with .Params.images }}
                    <img src="{{ index . 0 }}" class='image-h'>
                    {{ end }}
                </figure>
                <div class=overlay-h>
                <a href="{{ .Permalink }}" class='text-h'>{{ .Title }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}